<div class="container d-flex justify-content-center align-items-center pt-3 fade-in">
    <div class="text-center">
        <h4 class="mb-3">Account Created Successfully</h4>
        <h5>Click <a asp-action="Login" asp-controller="Account" class="btn btn-primary">here</a> to log in</h5>
    </div>
</div>
